In [1]:
#improting all the required packages
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
np.random.seed(sum(map(ord, "aesthetics")))
%matplotlib inline
import plotly.plotly as py
import plotly.graph_objs as go
from plotly import tools
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
import warnings
warnings.filterwarnings('ignore')

In [2]:
#defining the file-directory
fileDir = os.path.dirname(os.path.realpath('__file__'))

In [3]:
#defining the processed data-directory
dataDir = fileDir.strip('analysis') + 'data\\processed_data\\'

# Reading and consolidating the data

In [4]:
#defining data frame for the consolidated loan data
dfLoanData = pd.DataFrame()

In [5]:
#reading loan data stats
for directory, subdirectory, filenames in  os.walk(dataDir + 'loan_data\\'):
    for filename in filenames:
        df = pd.read_csv(os.path.join(directory, filename), encoding = 'ISO-8859-1')
        dfLoanData =  pd.concat([df, dfLoanData], ignore_index=True)

# Binning  data on FICO Scores

In [6]:
#defining bins
bins = [301, 550, 649, 699, 749, 850]
groupNames = ['Bad', 'Poor', 'Fair', 'Good', 'Excellent']

In [7]:
categories = pd.cut(pd.to_numeric(dfLoanData['FICO'], errors='coerce'), bins, labels=groupNames)
dfLoanData['FICOCategory'] = pd.cut(pd.to_numeric(dfLoanData['FICO'], errors='coerce'), bins, labels=groupNames)

# Binning  data on Loan amount

In [8]:
#creating bins based on quantiles and converting to category
dfLoanData['LoanAmtCat'] = (pd.qcut(dfLoanData['LoanAmt'], 5)).astype(str)
dfLoanData['LoanAmtCat'] = dfLoanData['LoanAmtCat'].map(lambda x: x.lstrip('(').rstrip(']').lstrip('['))

# Binning  data on Annual Income

In [9]:
#creating bins based on quantiles and converting to category
dfLoanData['AnnualIncCat'] = (pd.qcut(dfLoanData['AnnualInc'], 5)).astype(str)
dfLoanData['AnnualIncCat'] = dfLoanData['AnnualIncCat'].map(lambda x: x.lstrip('(').rstrip(']').lstrip('['))

,IssuedYear,IssuedMonth,LoanAmt,Term,IntRate,Grade,SubGrade,EmpTitle,EmpLength,HomeStatus,...,State,DTI,NoOfInqs,AppType,CreditHistory,FICO,DefaultStatus,FICOCategory,LoanAmtCat,AnnualIncCat
0,2016,Dec,5000.0,36,10.49,B,B2,driver,10,RENT,...,NV,11.01,1,INDIVIDUAL,26,667,Good-Loan,Fair,"500, 7000","74500, 100000"
1,2016,Dec,3600.0,36,11.39,B,B3,IT Specialist 6,10,RENT,...,WA,20.30,0,INDIVIDUAL,22,682,Good-Loan,Fair,"500, 7000","74500, 100000"
2,2016,Dec,7000.0,36,5.32,A,A1,Nurse,2,RENT,...,NY,12.80,0,INDIVIDUAL,24,707,Good-Loan,Good,"500, 7000","74500, 100000"
3,2016,Dec,19200.0,36,13.99,C,C3,Foreman,10,MORTGAGE,...,WI,16.98,0,INDIVIDUAL,13,742,Good-Loan,Good,"15000, 22000","74500, 100000"
4,2016,Dec,6000.0,36,7.49,A,A4,Empty Multi-level Distribution Supv,5,RENT,...,GA,20.06,0,INDIVIDUAL,13,707,Good-Loan,Good,"500, 7000","57000, 74500"